<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Folha de pagamento</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
<nav class="purple">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Folha de Pagamento</a>
    </div>
</nav>
<div class="container">
    <h4>
        Bem vindo!
    </h4>
    <a href="/funcionarios">
        Lista de Funcionarios
    </a>
</div>
</body>
</html>
